.idea/
.cache/
**/backup-artifacts/*
**/restore-artifacts/*
.DS_Store

# Allow custom configurations
!drvital-custom/
!drvital-custom/.env
!drvital-custom/docker-compose.yml
!drvital-custom/custom-config/
